alias gl='git log --oneline --all --graph --decorate $*'
alias ls='ls --show-control-chars -F --color $*'
alias pwd='cd'
alias clear='cls'
alias unalias='alias /d $1'
alias gitlog='git log --graph --decorate --pretty=oneline --abbrev-commit master origin/master $1'
alias gits='git status -sb'
alias gitb='git branch -a'
alias gc='git commit -m $1'
alias gd='git diff'
alias gco='git checkout $1'
alias gcam='git commit --amend'
alias src='cd "/mnt/c/Users/AndersNS/Source/"'
alias gpr='git pull --rebase'
alias subm='git submodule update --recursive'
alias npmi='npm i'
alias npmlist='npm list -g --depth=0'
alias glog='git log --pretty=format:"%C(green)%h %C(yellow)%ad %C(green)%<(10,trunc)%an %C(auto)%d %C(white)%s" --date=short --max-count=24 --graph'
alias glg='git log --oneline --decorate --color --graph --max-count=8'
alias l='ls -o --color=auto'
alias gall='git add --all'
alias merged='git branch --merged master'
alias branchclean='git branch --merged | egrep -v "(^\*|master|dev)" | xargs git branch -d'
alias dfu="dotfiles add -u && dotfiles add $HOME/.config/nvim/**/*.vim"
alias lzn='lazynpm'
