""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set commentary
set argtextobj
"set easymotion
set textobj-entire
set highlightedyank
set sneak
set which-key
set NERDTree
set multiple-cursors
set matchit
" set quickscope

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set smartcase
set incsearch
set nu
set scrolloff=5
set relativenumber
set number 
set notimeout
set hlsearch

""" Idea specific settings ------------------
set ideajoin
set idearefactormode=keep

set clipboard=unnamed
set clipboard+=ideaput

""" Mappings --------------------------------
imap jj <Esc>
imap jk <Esc>

imap <C-b> <ESC>^i
imap <C-e> <END>

map <S-l>     <Action>(NextTab)
map <s-h>     <Action>(PreviousTab)

map <leader>z   <Action>(ToggleDistractionFreeMode)
map <leader>h   :nohlsearch<CR>

map <C-h>       <Action>(NextSplitter)
map <C-l>       <Action>(PrevSplitter)

" Buffers / windows
map <leader>q  :q

map <leader>be <Action>(CloseAllEditorsButActive)
map <leader>bw <Action>(CloseAllEditors)
map <leader>bh <Action>(CloseAllToTheLeft)
map <leader>bl <Action>(CloseAllToTheRight)
map <leader>bd :bd<CR>
map <leader>bf <Action>(Switcher)>
map <leader>bb <Action>(Switcher)>

vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

map <leader>uw <Action>(EditorToggleUseSoftWraps)

" Git
map <leader>gl  <Action>(Annotate)
map <leader>gb  <Action>(Git.Branches)

" Debugging
map <leader>db  <Action>(ToggleLineBreakpoint)
map <leader>dr  <Action>(Debug)
map <leader>ds  <Action>(Stop)

map <leader>td  <Action>(RiderUnitTestDebugContextAction)

" Search
map <leader>p   <Action>(SearchEverywhere)

map <leader>st  <Action>(FindInPath)
map <leader>sr  <Action>(RecentFiles)

map <C-s>       <Action>(SaveDocument)
map <leader>w   <Action>(SaveDocument)
map <leader>/   <Action>(CommentByLineComment)

map <leader>s   :let @/=""<CR>
map <leader>e   <Action>(SelectInProjectView)

map <leader>ma :action TridentAppend<CR>
map <leader>mm :action TridentToggleQuickMenu<CR>

map <C-1> :action TridentSelect1<CR>
map <C-2> :action TridentSelect2<CR>
map <C-3> :action TridentSelect3<CR>
map <C-4> :action TridentSelect4<CR>

" Language
map K           <Action>(QuickJavaDoc)
map gh          <Action>(QuickJavaDoc)
map gl          <Action>(ShowErrorDescription)
map gE          <Action>(ShowErrorDescription)
map gR          <Action>(RenameElement)
map gd          <Action>(GotoDeclaration)
map gT          <Action>(GotoTypeDeclaration)
map gy          <Action>(GotoImplementation)
map gr          <Action>(FindUsages)
map ]e          <Action>(GotoNextError)
map [e          <Action>(GotoPreviousError)
map <C-f>  <Action>(ShowIntentionActions)

map <leader>ca  <Action>(ShowIntentionActions)
map <leader>cr  <Action>(RenameElement)
map <leader>cf  <Action>(ReformatCode)
map <leader>cR  <Action>(FindUsages)
map <leader>cd  <Action>(GotoDeclaration)
map <leader>ci  <Action>(GotoImplementation)
