[user]
	name = Anders Njøs Slinde
	email = anders.slinde@gmail.com
  
[init]
	defaultBranch = main
  
[core]
    pager = delta
    attributesfile = ~/.gitattributes

[push]
	autoSetupRemote = true
  
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    dark = true

[merge]
    conflictstyle = zdiff3

[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P
 
[alias]
  todos = "!sh -c ' \
    [ $GIT_PREFIX ] && cd $GIT_PREFIX; \
    git status --short --branch $*; \
    git --no-pager diff -U0 main | \
    grep \"^+.*TODO\" | \
    sed \"s/^+//\" | \
    git --no-pager grep -nFf - 2> /dev/null' -"
  # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff

[rerere]
	enabled = true
